body {
  size : 100%;
  margin: 0 auto;
  background: #373737;
  text-align: center;
  font-family: "Open Sans";
}

.demo-menu {
  list-style-type: none;
  margin: 1em auto;
  text-align: center;
}
  
  .demo-menu ul {
    margin: 0 auto;
    display: inline-block;
  }
  
  .demo-menu li {
    display: inline-block;
    margin: 0 auto;
    height: 30px;
    width: 150px;
    background: rgba(204,204,204,0.5);
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
  }
  
  .demo-menu li:hover {
    background: rgba(204,204,204,0.8);
  }
  
    .demo-menu li a, .demo-menu li a:visited {
      text-decoration: none;
      color: #1f6db5;
      text-shadow: none;
    }

#header-wrapper {
  display: block;
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #373737;
}

#content-wrapper {
  display: block;
  padding-top: 5em;
  color: #414141;
  line-height: 2em;
  text-shadow: #fff 1px 1px 0px;
  font-size: 15px;
}

  #content-wrapper .section {
    display: block;
    padding-top: 40px;
  }

  #content-wrapper #whatwedo > img {
    display: none;
  }

  #content-wrapper #whatwedo > img:nth-child(1) {
    display: inline;
  }
  
  #content-wrapper #whatwedo .technology  {
    width: 900px;
    margin-top: -141px;
    margin-left: auto;
    margin-right: auto;
  }

  #content-wrapper #whatwedo .technology div {
    display: inline-block;
    width: 30%;
  }
    
  #content-wrapper #whatwedo .technology .app img {
  }
  
  #content-wrapper #whatwedo .technology .web img {
  }
  
  #content-wrapper #whatwedo .technology .design img {
  }
  
   #content-wrapper #whoweare img {
   margin-top: 50px;
   }
  
   #content-wrapper #whoweare .member {
    margin-top: -450px;
    margin-left: 0px;
   }
   
   #content-wrapper #whoweare .member .nghia img:nth-child(2){
   width : 5%;
   height : 10%;
   left : 350px;
   top : 90px;
   }
   
   #content-wrapper #whoweare .member .nghia img:nth-child(1) {
   width : 5%;
   height : 10%;
   left : 350px;
   top : 30px;
   }
   
   #content-wrapper #whoweare .member .dang img:nth-child(2){
   width : 5%;
   height : 10%;
   left : 450px;
   top : 90px;
   }
   
   #content-wrapper #whoweare .member .dang img:nth-child(1) {
   width : 5%;
   height : 10%;
   left : 450px;
   top : 30px;
   }
   
   #content-wrapper #contactus .contact{
    margin-top: -500px;
   }
   
   #content-wrapper #contactus .contact .icon_info img{
    width : 5%;
    height : 10%;
   }
   
   #content-wrapper #contactus .contact .info img:nth-child(1) {
   width : 5%;
   height : 10%;
   left : 550px;
   top : 0px;
   }
   
   #content-wrapper #contactus .contact .info img:nth-child(2) {
   width : 5%;
   height : 10%;
   left : 780px;
   top : 0px;
   }
   
   #content-wrapper #contactus .contact .messagesentry {
   left : 400px;
   top : 100px;
   }
   
   #content-wrapper #contactus .contact .username {
   left : 850px;
   top : 100px;
   }
   
   #content-wrapper #contactus .contact .emailaddress {
   left : 850px;
   top : 150px;
   }
   
   #content-wrapper #contactus .contact .send{
    left : 860px;
    top : 200px;
   }
   
   #content-wrapper #contactus .contact .send img{
    width : 100%;
    height : 100%;
   }
   
    .preface {
      margin: 0;
      font-size: 40px;
      color: #414141;
      line-height: 1.2em;
    }
  
  hr {
    margin: 1em 0;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 4px solid #dadcdd;
  } 
  
.wrapper, #content-wrapper {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
  
  .title {
    display: inline-block;
    font-size: 25px;
    margin-top: 13px;
  }
  
  .pointer {
    position: absolute;
  }

  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table;
    clear: both;
  }
  .clearfix {
    *zoom: 1;
  }

  a#pull {
    display: none;
  }
  
  .navigation {
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    list-style-type: none;
    vertical-align: top;
    padding: 0;
    width: 60%;
  }

    .navigation a {
      color: #fff;
      display: inline-block;
      width: 100%;
      text-align: center;
      text-shadow: 1px 1px 0px #283744;
      font-family: DiavloMedium;
      font-size: 20px;
    }
    
    .navigation li.logo img {
     width: 80px;
     height: auto;
     margin-top: -20px;
    }

    .navigation li {
      display: inline;
      float: left;
      width: 20%;
      padding: 32px 0;
      height: 36px;
      text-align: center;
      cursor: pointer;
    }

    .navigation li:hover, .selected-nav {
      background-color: #444;
    }

    .navigation li.logo:hover {
      background-color: rgba(0, 0, 0, 0);
    }
      
      .navigation li a {
        position: relative;
        z-index: 1;
        text-decoration: none;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }

      .navigation li:hover a, .selected-nav a, .selected-nav2 a, .top a {
        text-shadow: #335f87 1px 1px 0px;
      }
    
    .cube {
      -webkit-perspective : 1200px;
      -moz-perspective : 1200px;
      -ms-perspective : 1200px;
      perspective : 1200px;
      padding: 0 !important;
      vertical-align: top;
    }
    
      .cube-wrapper-show {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-animation: showMenu 0.5s ease-in-out;
        -moz-animation: showMenu 0.5s ease-in-out;
        -ms-animation: showMenu 0.5s ease-in-out;
        height: 60px;   
      }
      
      .cube-wrapper-hide {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-animation: hideMenu 0.5s ease-in-out;
        -moz-animation: hideMenu 0.5s ease-in-out;
        -ms-animation: hideMenu 0.5s ease-in-out;
        height: 60px;   
      }
      
        .top, .front {
          display: block;
          width: 70px;
          height: 16px;
          padding: 22px 0;
          vertical-align: middle;
          position: absolute;
        }
      
        .front {
          background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#cbcbcb));
          background-image: -webkit-linear-gradient(top, #fefefe, #cbcbcb);
          background-image:    -moz-linear-gradient(top, #fefefe, #cbcbcb); 
          background-image:     -ms-linear-gradient(top, #fefefe, #cbcbcb); 
          background-image:      -o-linear-gradient(top, #fefefe, #cbcbcb); 
          background-image:         linear-gradient(to bottom, #fefefe, #cbcbcb);
        }
        
        .front-before-rotate {
          box-shadow: rgba(214,214,214,0.6) 0px 6px 0px;
          -webkit-transform:  translateZ(25px);
          -moz-transform:  translateZ(25px);
          -ms-transform:  translateZ(25px);
          transform:  translateZ(25px);
        }
      
        .top {
          background-image: -webkit-gradient(linear, left top, left bottom, from(#7bbbf7), to(#338cdf));
          background-image: -webkit-linear-gradient(top, #7bbbf7, #338cdf);
          background-image:    -moz-linear-gradient(top, #7bbbf7, #338cdf); 
          background-image:     -ms-linear-gradient(top, #7bbbf7, #338cdf); 
          background-image:      -o-linear-gradient(top, #7bbbf7, #338cdf); 
          background-image:         linear-gradient(to bottom, #7bbbf7, #338cdf);
          border-bottom: 6px solid #1f6db6; 
          -webkit-transform: rotate3d(1,0,0,90deg) 
                       translateZ(30px);
          -moz-transform: rotate3d(1,0,0,90deg) 
                       translateZ(30px);
          -ms-transform: rotate3d(1,0,0,90deg) 
                       translateZ(30px);
          transform: rotate3d(1,0,0,90deg) 
                       translateZ(30px);
        }
        
        .hide-front {
          display: none;
        }

        .show-front {
          display: block;
        }

        .show-top {
          display: block;
        }
        
        .showed-top {
          display: block;
          -webkit-transform: rotate3d(1,0,0,0deg);
          -moz-transform: rotate3d(1,0,0,0deg);
          -ms-transform: rotate3d(1,0,0,0deg);
          transform: rotate3d(1,0,0,0deg);
        }

        .hidden-top {
          -webkit-transform:  rotate3d(1,0,0,90deg) 
                        translateZ(30px);
          -moz-transform: rotate3d(1,0,0,90deg) 
                        translateZ(30px);
          -ms-transform:  rotate3d(1,0,0,90deg) 
                        translateZ(30px);
          transform:  rotate3d(1,0,0,90deg) 
                        translateZ(30px);
        }

/*@media screen and (max-width: 900px) {
  #content-wrapper .section img {
    width: 100%;
  }

  #content-wrapper #whatwedo .technology {
    width: 100%;
  }

  .navigation { 
    height: auto;
    width: 100%;
  }
}

@media only screen and (max-width : 480px) {
  .navigation {
    display: none;
    height: auto;
    background-color: #283744;
  }
  .navigation li {
    display: block;
    float: none;
    width: 100%;
    border-bottom: 1px solid white;
  }
  .navigation li a {
    color: white;
  }
  a#pull {
    display: block;
    background-color: #283744;
    width: 100%;
    position: relative;
    height: 60px;
  }
  a#pull:after {
    content:"";
    background: url('images/nav-icon.png') no-repeat;
    width: 30px;
    height: 100%;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 30%;
  }
}*/

@font-face {
  font-family: DiavloBlack;
  src: url('../fonts/DiavloBlack.otf');
}

@font-face {
  font-family: DiavloBold;
  src: url('../fonts/DiavloBold.otf');
}

@font-face {
  font-family: DiavloBook;
  src: url('../fonts/DiavloBook.otf');
}

@font-face {
  font-family: DiavloLight;
  src: url('../fonts/DiavloMedium.otf');
}

@font-face {
  font-family: DiavloMedium;
  src: url('../fonts/DiavloMedium.otf');
}